{% extends 'office/templates.html' %}
{% block blockname2 %}

<div class="main">
<main role="main" class="container">
  <div class="row">
      <div class="col">
          <div class="jumbotron">
                  <h1>КВАРТИРЫ</h1>
              <h1>Скоро все откроется</h1>
              
                      <button type="submit" class="btn btn-lg btn-primary">отправить</button>
                  </form>
              </div>
              
          </div>
      </div>
  </div>
</main>
</div>    
{% endblock blockname2 %} 

