{% extends 'the_main/tampletes.html' %}
{% block tmp_section %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll,
          it
          will remain fixed to the top of your browser’s viewport.</p>
        <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs »</a>
      </div>
    </div>
  </div>
</main>

<main role="main" class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1>Hello ,Welcome To My officail Website</h1>
        <p class="lead">
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        <a class="btn btn-lg btn-primary" href="#" role="button">See more</a>
      </div>
    </div>
  </div>
</main>



{% endblock tmp_section %}